.menu{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    height: 100vh;
    backdrop-filter: blur(7px);
    background-color: #5669d727;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.342);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    /* background-color: aqua; */
    height: 300px;
    font-family: "Poppins";
    text-align: justify;
    cursor: pointer;
}

.nav_links p{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: black;
    font-weight: bold;
    font-family: 'Poppins';
    transition: 0.5s;
}

.nav_links p:hover{
    color: #5669d7;
    translate : 5px 0px;
}

.copy_rights{
    text-align: center;
    margin-bottom: 10px;
    font-family: "Poppins";
    font-size: 0.8rem;
}